/*======================= about section================== */
.aboutcon{
    
    background-color: var(--background_color);
    width: 100%;
    margin-top: .2rem;
    padding: 0 1rem;
    height: fit-content;
}


.aboutcon .title:before{
    content: attr(data_title);
        color: white;
       margin-bottom: 2rem;
       text-align: center;
       display: block;
       font-weight: 700;
       letter-spacing: 3.2px;
       font-size: 2rem;
       text-transform: uppercase;
    }
.aboutcon .title:after{
    content: "";
    background: orangered;
    height: .4rem;
    width: 7.8rem;
    position: absolute;
    margin: -2rem auto;
    border-radius: 5px;
    left: 45.5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
}

.aboutcon h1{
    padding-top: 1rem;
}
.about{
    margin-top: .3rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.about_left{
    gap: 2rem;
}
 
.about_left b{
    color: var(--text_color);
}
.about_left .text{
    color: white;
    line-height: 2rem;
    margin: 3rem 0;
    text-align: center;
   }

   .about_left .about_description {
       display: flex;
       flex-direction: column;
       width: fit-content;
       height: fit-content;
       line-height: 1.2rem;
       align-items: center;
       justify-content: center;
   }
   .about_left h5{
       text-transform: uppercase;
       color: var(--text_color);

   }
   .about_left small{
       color: var(--text_color_two);
   }
   .about_left .work{
       color: var(--text_color_two);
       font: .2rem;
       font-weight: bold;
       text-align: center;
   }

   .about_right{
       width: 100%;
       height: 50rem;
       align-items: center;
       box-sizing: border-box;
       justify-content: center;
       margin-top: 11rem;
   }
.about_right ul{
    display: flex;
    justify-content: center;
}

   .about .about_right .about_right_wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
   }

   .about_right ul li{
       line-height: 1rem;
       font-size: 1.4rem;
       margin-left: 2rem;

   }

   ul li:nth-child(1){
       color: var(--active_button);

   }

   
   ul li:nth-child(2){
    color: var(--body_color);
    
}


ul li:nth-child(3){
    color: var(--text_color_two);
    
}

   .about img{
       width: 25rem;
       height: 38rem;
       border-radius: 1rem;
       object-fit: contain;
       background: red;
       margin-top: 4rem;
   }

.skills_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

   .skills{
       background-color: deepskyblue;
       display: flex;
       flex-direction: column;
       width: 13.5rem;
       aspect-ratio: 3/2;
       margin: 1rem auto;
       align-items: center;
       gap: 1rem;
       justify-content: center;
       border-radius: 1rem;
       padding: 1rem;
   }

   .skills i{
       background: linear-gradient(to bottom, rgb(0, 0, 0.5), #000000);
       width: 4rem;
       height: 4rem;
       border-radius: 50%;
       color: white;    
       font-weight: bold;
       font-size: 2rem;
       display: inline-block
   }

  @media only screen and (max-width: 1024px){
    .aboutcon{
        padding: 1rem;
    }
    .about_right{
        margin-top: -10rem;
    }
    
    .about_right ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin-top: 2rem;    
        }
        .about_right ul li{
            margin-bottom:2rem;
        }
        .about_right img{
            margin-top: -11rem;
        }
  }

  @media(max-width: 1000px){
      .aboutcon{
          height: 113rem;
      }
      .about{
        height: 112rem;
      }

  .grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    }

    .about_right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 0;
        
        }

        .about_right ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;   
            margin: 0;
            }

           

         .text{
             text-align: center;
}

         .about_left .about_description{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 2rem;
    }

    .about img{
        width: 20rem;
    }

}

@media screen and (max-width: 600px){
    .aboutcon{
        height: 208rem;
    }

    .aboutcon .title:before{
        font-size: 1rem;
    }
    .aboutcon .title:after{
        width: 4rem;
        height: 3px;
        left: 40%;
    }


    .about{
        height: 205rem;
    }

    .about_left{
        width: 100%;
        height: auto;
        margin-top: -10rem;
    }

    .about_description small{
        width: 100%;
    }

    .about_description{
        text-align: center;
    }

    .skills_wrapper{
        width: 19rem;
        height: 100%;
        height: fit-content;
    }

    .skills{
        width: 16rem;
        height: 22rem;
    }

    .about_right{ 
        width: 100%;
        height: fit-content;
    }

    .about_right_wrapper{
        width: 100%;
        height: fit-content;
    }

    .about_right_wrapper ul li{
       font-size: 1rem;
    }



    .about img{
        width: 100%;
        height: 30rem;
    }
}

/* neds */