/* <========================================header section=======================================================> */

.header{
    margin-top: .2rem;
    width: 90%;
    height: fit-content;
   background: url("../Assets/hero_bg_image.png")  center center;
   background-size: contain;
   min-height: 150vh;
    padding: 4rem 1rem;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header_left .header_title{
    color: var(--text_color);
    text-align: center;
}

.header_left{
    background: black;
    padding: 1rem;
    opacity: 0.9;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 96%;
    margin-left: 6rem;
}

.header_left .text{
background: deepskyblue;
border-radius: 1rem;
padding: 1rem;
text-align: center;
 color: black;
 line-height: 2rem;
 margin: 3rem 0;
 width: 20rem;
 max-width: 30rem;

}

 .header_left h4{
    color: var(--text_color);
    margin-bottom: 1rem;
}
.header_left .p2{
    color: var(--text_color_two);
}
.header_left h5{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text_color_two);
    text-align: center;
   

}

.header_right{
  
    width: 90%;
    height: 96%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.header_right .header_image{

    width: 100%;
    height: 100%;
    border-radius: 2rem;
    opacity: 100%; 
    background: none;
    opacity: 1;
    box-shadow: 0px 2px 3px 5px rgba(0,0,0,0.5);
}


/* =================== MEDIA REPONSIVE============================ */
@media screen and (max-width: 1024px){
    
    .grid{
        gap: 2.1rem;
    }

    .header_left{
        width: 25rem;
        height: 45rem;
        margin-left: 2rem;;
    }
    .header_right{
        width: 30rem;
        height: 46rem;
    }
}
@media(max-width: 1000px){
    .navcon{
        top: 0;
    }
    .container{
        margin-top: 6em;
    }
    .header{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      
    }
    .header_title{
        text-align: center;
    }
    
    .header_left{
        margin-left: 0;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   
    }

    .header_right{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header_right .header_image{
        width: 25rem;
    }

    .header_left h5, h4{
        text-align: center;
        margin-top: 1rem;
    }

    .p2{
        text-align: center;
    }

    .header .header_left .btn{
        margin: 2rem auto;
    }

    .header_left .span{
        text-align: center;
    }

    .header_left .text{
        text-align: center;
    }
    .grid{
        gap: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
} 

@media screen and (max-width: 600px){
    .container{
        padding: 0;
    }

    .header{
        padding: 0;
    }

    .header_right{
        width: 100%;
    }

    .header_right .header_image{
        width: 18em;
        height: 30rem;
    }

     .logo h1{
        display: none;
    }

    .header_left{
        width: 99%;
        margin-left: 0;
    }
    .header_left .text{
        width: 14rem;
    }

}